{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
<div class="jumbotron">
    <h1>{% trans 'Welcome to GhanaHomes Administration' %}</h1>
    <p class="lead">{% trans 'Environment:' %} {{ environment_name }}</p>
</div>

<div class="row">
    <div class="col-12">
        <div class="alert alert-info">
            <strong>{% trans 'Quick Links:' %}</strong>
            <ul>
                <li><a href="{% url 'admin:properties_property_changelist' %}">{% trans 'Manage Properties' %}</a></li>
                <li><a href="{% url 'admin:accounts_user_changelist' %}">{% trans 'Manage Users' %}</a></li>
                <li><a href="{% url 'admin:subscriptions_subscription_changelist' %}">{% trans 'Manage Subscriptions' %}</a></li>
            </ul>
        </div>
    </div>
</div>

{{ block.super }}
{% endblock %}