{% extends 'base.html' %}
{% load static %}

{% block title %}Delete Property - GhanaHomes{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4>Delete Property</h4>
                    <p>Are you sure you want to delete "{{ property.title }}"?</p>
                    <form method="post">
                        {% csrf_token %}
                        <a href="{% url 'properties:property_detail' property.slug %}" class="btn btn-outline-secondary">Cancel</a>
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
